// Global
* {
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 !important;
    background-color: white;
}

*:focus {
    outline: none !important;
}

a {
    text-decoration: none !important;
    color: white;
    &:hover{
        color: white;
    }
}

ul {
    list-style: none !important;
    padding: 0;
}

section{
    min-height: calc(100vh - $navHeight - $footerHeight) !important;
    margin-top: $navHeight;
    width: 100%;
    padding: 10px 0;
    .container-lg{
        min-height: calc(100vh - $navHeight - $footerHeight) !important;
    }
}