section {
    min-height: calc(100vh - $navHeight - $footerHeight) !important;
    margin-top: $navHeight;
    width: 100%;
    padding: 10px 0;
    .container-lg{
        min-height: calc(100vh - $navHeight - $footerHeight - 20px) !important;
    }
    .title{
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        padding-left: 5px;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 500;
    }

    .row{
        padding: 0 9px;
        .box{
            padding: 6px;
            min-height: 350px;
            overflow: hidden;
            transition: 0.2s ease-in-out;
            
            &:hover{
                transform: scale(1.008);
            }
            .box-body{
                position: relative;
                background-color: $light-green;
                border-radius: $boxBorderRadius;
                width: 100%;
                height: 100%;
                padding: 10px;
                .box-image{
                    border-radius: $boxBorderRadius;
                    width: 100%;
                    height: 230px;
                    background-color: $dark-1;
                    box-shadow: $boxImageShadow;
                    overflow: hidden;
                    img{
                        transform: translateY(-50%);
                        top: 50%;
                        position: relative;
                    }
                }
                .box-text{
                    font-family: 'Fira Sans', sans-serif;
                    position: absolute;
                    max-width: 100%;
                    padding: 0 25px 20px 25px;
                    bottom: 0;
                    left: 0;
                    span{
                        display: block;
                        font-size: 18px;
                        line-height: 1.3;;
                        &.box-title{
                            color: #616161;
                            font-weight: 500;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        &.box-date{
                            color: #898989;
                            font-weight: 400;
                        }
                        &.box-price{
                            color: #616161;
                            font-weight: 700;
                        }
                    }
                }
                .favorite{
                    padding: 5px;
                    border-radius: 50%;
                    background-color: $white;
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    &:hover{
                            background-color: rgba(1,1,1,0.1);
                    }
                }
            }
        }
    }
}

